@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");


#homePage {
    display: flex;
    flex-direction: row;
    width:90%;
    height:90%;
    margin:5%;
    justify-content: space-between;
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
  
}

.intro {
    text-align: center;
    width:50%;
}

.intro img{
    width:25%;
    height:auto;
    border-radius: 50%;
}

.projectCarousel {
    width:50%;
    border: 1px solid black;
}

.opaque-block {
    background-color: rgba(222, 220, 211, 0.9);
    color: black;

}
