
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
/* nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1%;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    background-color: rgba(222, 220, 211, 0.7);
    border: 1px solid black;
} */

/* .LogoAndName img{
    height:4em;
    width: 4em;  
    margin-right:1em;
}
.LogoAndName {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.LogoAndName h2{
    margin: 0;
}


h1 {
    margin-left: 2%;
}

.navLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 25%;
    align-items: center;
    font-style: none;

} */

